<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>filter.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>controller.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterLivre</servlet-name>
        <servlet-class>controller.AjouterLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerLivre</servlet-name>
        <servlet-class>controller.SupprimerLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterEtudient</servlet-name>
        <servlet-class>controller.AjouterEtudient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerEtudient</servlet-name>
        <servlet-class>controller.SupprimerEtudient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserverLivre</servlet-name>
        <servlet-class>controller.ReserverLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEtudient</servlet-name>
        <servlet-class>controller.GetEtudient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimerListeDesPrets</servlet-name>
        <servlet-class>controller.supprimerListeDesPrets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rechercheLivre</servlet-name>
        <servlet-class>controller.rechercheLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rechercheEtudient</servlet-name>
        <servlet-class>controller.rechercheEtudient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterLivre</servlet-name>
        <url-pattern>/ajouterLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerLivre</servlet-name>
        <url-pattern>/supprimerLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterEtudient</servlet-name>
        <url-pattern>/ajouterEtudient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerEtudient</servlet-name>
        <url-pattern>/supprimerEtudient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserverLivre</servlet-name>
        <url-pattern>/reserverLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEtudient</servlet-name>
        <url-pattern>/getEtudient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimerListeDesPrets</servlet-name>
        <url-pattern>/supprimerListeDesPrets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rechercheLivre</servlet-name>
        <url-pattern>/rechercheLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rechercheEtudient</servlet-name>
        <url-pattern>/rechercheEtudient</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>LivreServiceImp</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Service.LivreService</local>
        <ejb-link>ProjetSalhi-ejb.jar#LivreServiceImp</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LivreServiceImp1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Service.LivreService</local>
        <ejb-link>ProjetSalhi-ejb.jar#LivreServiceImp</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EtudientServiceImp</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Service.EtudientService</local>
        <ejb-link>ProjetSalhi-ejb.jar#EtudientServiceImp</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ListeDesPretsServiceImpl</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Service.ListeDesPretsService</local>
        <ejb-link>ProjetSalhi-ejb.jar#ListeDesPretsServiceImpl</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EtudientServiceImp1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Service.EtudientService</local>
        <ejb-link>ProjetSalhi-ejb.jar#EtudientServiceImp</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LivreServiceImp2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Service.LivreService</local>
        <ejb-link>ProjetSalhi-ejb.jar#LivreServiceImp</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ListeDesPretsServiceImpl1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Service.ListeDesPretsService</local>
        <ejb-link>ProjetSalhi-ejb.jar#ListeDesPretsServiceImpl</ejb-link>
    </ejb-local-ref>
</web-app>
